.header {
  height: 35rem;
  color: #2c698d;
  text-align: center;
  background-image: url("../img/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main {
  padding: 2rem 0 0 0;
}

#carouselExampleControls {
  height: max-content;
}

ul {
  padding-left: 10px;
}
li {
  list-style-type: none;
}

#coop1_info {
  font-family: "Architects Daughter", sans-serif;
  font-size: 40px;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
}

#coop1_row {
  color: white;
  /*background: -webkit-gradient(linear, 0 0, 100% 100%, from(black), to(grey));*/
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

.subtitle {
  font-family: "Architects Daughter", sans-serif;
  font-size: 40px;
  text-align: center;
}

.intro-row {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 10rem 0;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.intro-icon {
  color: #2c698d;
  font-size: 100px;
}

#separator-1 {
  font-family: "Architects Daughter", sans-serif;
  font-size: 5rem;
  color: white;
  background: linear-gradient(black, rgba(26, 25, 25, 0.9));
  text-align: center;
  padding: 10rem 0;
}

#separator-2 {
  font-family: "Architects Daughter", sans-serif;
  font-size: 5rem;
  text-align: center;
  padding: 10rem 0;
}

#life_row {
  background-color: black;
}

#life_row img {
  width: 33.33333vw;
}

footer {
  padding: 2rem 0;
  text-align: center;
  background-color: grey;
  color: white;
  font-size: 1.5rem;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
